html,
body {
  margin: 0;
  padding: 0;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

df-messenger {
  --df-messenger-bot-message: #769fcd;
  --df-messenger-button-titlebar-color: #769fcd;
  --df-messenger-chat-background-color: #f7fbfc;
  --df-messenger-font-color: #f7fbfc;
  --df-messenger-send-icon: #878fac;

  --df-messenger-chip-color: pink;
  --df-messenger-user-message: #769fcd;
}

h1,
h2 {
  margin: 0;
  box-sizing: border-box;
  padding: 20px;
  color: #f7fbfc;
}

.nav {
  background-color: #769fcd;
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0rem 1.3rem;
}

.nav-item > a,
.nav-item > a:link,
.nav-item > a:visited,
.nav-item > a > i {
  color: #f7fbfc;
  font-size: 1.5rem;

  transition: 0.3s ease-in-out;
}

.nav-item > a > i:hover {
  color: pink;
  transform: translateY(-5px);
}

.dashlabs-sticker {
  width: 20rem;
  aspect-ratio: 1;

  margin: 25vh auto;
}
